Test*.hs
*test*

.stack-work/

*.hi
*.o
*.exe
*.so
*.dylib
*.dll

*.prof
*.aux
*.hp
*.eventlog
.HTF/
.ghc.environment.*

.vscode/
*.swp
*.swo
*~

.DS_Store
Thumbs.db

dist/
dist-newstyle/
cabal-dev
*.tar.gz
cabal.project.local
cabal.config

.coverage/
*.tix

*.tmp
*.temp
todo*
